@import "../layouts/header.css";
@import "../layouts/footer.css";
@import "../layouts/app.css";

.accounting-container {
  display: grid;
  gap: 1.3rem;
  padding: 5rem 0;
}

.title-accounting {
  width: 810px;
  text-align: center;
  margin: 0 auto;
  /* padding: 3.18rem 0; */
}

.title-accounting h2,
.title-accounting span {
  font-size: 4rem;
  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: 5.6rem;
}

.title-accounting span {
  color: var(--primary-color);
  background-image: url(/assets/icons/victor.svg);
  background-repeat: no-repeat;
  background-position: 0.9rem 3rem;
}

.accounting-container .paraghraph {
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 30px;
  color: #4b5563;
  text-align: center;
  width: 32rem;
  margin: 0 auto;
}

.traitement-paiment,
.watch-video {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.watch-video {
  background-color: #ffff;
  border: 1px solid #e5e7eb;
  color: #4b5563;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 0.7rem;
}

.companies-container p:first-child {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--secondary-font);
  color: #111928;
}

.companies-container {
  display: grid;
  gap: 3rem;
  padding: 5rem 0;
}

.companies-container .companies {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 140px);
  align-items: center;
  justify-content: center;
  gap: 2.62rem;
  padding: 0 2rem;
  margin: 0 2rem;
}

.companies-container .companies .flex {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.7rem;
}

.books-container {
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 0;
  display: grid;
  gap: 7rem;
}

.books-container .title-container {
  text-align: center;
  color: #ffffff;
  display: grid;
  gap: 0.8rem;
}

.books-container .title-container h2 {
  font-family: var(--secondary-font);
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.6;
}

.books-container .title p {
  font-family: var(--primary-font);
  font-size: 1rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  /* grid-template-columns: repeat(auto-fill, minmax(800px, 1fr)); */
  /* align-items: center;
  justify-content: center; */
}
.grid .items-taps {
  display: grid;
  align-items: center;
}

.overview-photo img {
  border-radius: 0.9rem 0 0 0.9rem;
  overflow: hidden;
  width: 100%;
}

.taps-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.68rem 0;
}

.taps-container .tap {
  color: #ffffff;
  display: grid;
  gap: 0.68rem;
  grid-column: 2/4;
  padding: 1.7rem;
}

.taps-container .tap h4 {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.taps-container .tap p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.01em;
}

.taps-container .tap:first-child {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 10px 0px 0px 10px;
}

.business-tasks{
  display: grid;
  gap: 3rem;
  padding: 6.81rem 0;
}

.business-tasks .title-business{
display: grid;
gap: 1rem;
justify-items: center;
text-align: center;
}

.business-tasks .title-business h3{
  font-family: var(--secondary-font);
  font-size: 2.2rem;
  font-weight: 500;
  color: #111928;
  line-height: 2rem;
}

.business-tasks  .title-business p{
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 2rem;
  color: #8f959e;
  max-width: 605px;
}

  .business-tasks .items-parent {
    display: grid;

    grid-template-columns:  repeat( auto-fit, minmax(200px, 370px) );
    justify-content: center;
    gap: 2.18rem;
  }

.business-tasks .items-parent .item-child{
  display: grid;
  gap: 1rem;
}

.business-tasks .items-parent .item-child a.active,
.business-tasks .items-parent .item-child a:hover{
color: #1c64f2;
transition: 0.5 ease;
}


.business-tasks .items-parent .item-child a,
.business-tasks .items-parent .item-child .inner-item{
  display: grid;
  gap: 1rem;
}

.business-tasks h4{
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.8rem;
}

.business-tasks p{
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.6rem;
  color: #374151;
}

.business-tasks .profitandloss-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: #e2e8f0;
  border-radius: 30px;
  padding: 3rem 0;
  padding-left: 3rem;
}

.business-tasks .profitandloss-container .inventory{
  display: grid;
  justify-content: end;
}

.buy-now{
  padding: 6rem 0;
  background: url(/assets/images/background-features.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buy-now .buy-container{
  color: #FFFFFF;
display: grid;
justify-items: center;
gap: 1rem;
}

.buy-now .buy-container h3{
  font-family: var(--secondary-font);
  font-size: 2.38rem;
  font-weight: 400;
}

.buy-now .buy-container p{
  max-width: 498px;
  text-align: center;
  font-family: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.buy-now .buy-container button{
  background-color: #FFFFFF;
  color: #111928;
}

section.reviews-container{
  padding: 5rem 0;
}

.reviews-container .inner-reviews {
  display: grid;
  gap: 2rem;
}

section.reviews-container .title-reviews{
  display: grid;
  gap: 1rem;
  justify-items: center;
  font-weight: 400;
}

section.reviews-container .title-reviews h4{
  font-family: var(--primary-font);
  font-size: 2.37rem;
  letter-spacing: -1px;

}

section.reviews-container .title-reviews p{
  max-width: 640px;
 text-align: center;
  font-family: var(--primary-font);
  font-size: 1rem;
  /* font-weight: 400; */
  color: #4B5563;
  line-height: 30px;
}

.reviews-container .peopole-reviews{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.reviews-container .peopole-reviews .review{
  display: grid;
  gap: 3rem;
  background-color: #f0ebeb;
  border-radius: 10px;
  padding: 2rem 1rem;
}
.reviews-container .peopole-reviews .review span{
  background-color: #1f1f1f;
  opacity: .1;
  height: 1px;

}

.reviews-container .review-person{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reviews-container .review-person .avatar{
  display: grid;
  justify-content: end;
}


