@import "../layouts/header.css";
@import "../layouts/footer.css";
@import "../layouts/app.css";

.accounting-container{
    display: grid;
    gap: 1.3rem;
    padding: 5rem 0;
}

.title-accounting {
    width: 810px;
    text-align: center; 
    margin: 0 auto;
    /* padding: 3.18rem 0; */
    
}

.title-accounting h2,.title-accounting span{
    font-size: 4rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    line-height: 5.6rem;
}

.title-accounting span{
    color: var(--primary-color);
    background-image: url(/assets/icons/victor.svg);
    background-repeat: no-repeat;
    background-position:  0.9rem 3rem;;
}

.accounting-container .paraghraph{
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 30px;
    color: #4B5563;
    text-align: center;
    width: 32rem;
    margin: 0 auto;
}

.traitement-paiment,.watch-vido{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.watch-video{
 background-color: #ffff;
 border: 1px solid #E5E7EB;
 color: #4B5563;
 display: grid;
 grid-template-columns: auto auto;
 align-items: center;
 gap: 0.7rem;
}

.companies-container p:first-child{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--secondary-font);
    color: #111928;
}

.companies-container{
    display: grid;
    gap: 3rem;
    padding: 5rem 0;
}


.companies-container .companies{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 140px);
    align-items: center;
    justify-content: center;
    gap: 2.62rem;
    padding: 0 2rem;
    margin: 0 2rem;
}

.companies-container .companies .flex{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: .7rem;
}

.books-container{
    background-color: #2765EC;
    padding: 2rem 0;
    display: grid;
    gap: 4.6rem;
}

.books-container .title-container{
        text-align: center;
        color: #FFFFFF;
        display: grid;
        gap: .8rem;
}

.books-container .title-container h2{
    font-family: var(--secondary-font);
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.6;

}

.books-container .title p{
    font-family: var(--primary-font);
    font-size: 1rem;
}

.wrapper-container{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.wrapper-container .taps-container{
    display: flex;
    justify-content: flex-end;
    
}

.wrapper-container .taps-container .taps{
    display: grid;
    gap: 3rem;

/* margin-left: 10rem  */
}

.wrapper-container  .screenshot{
    width: ;
}


.wrapper-container  .screenshot img{
    width: 100%;
}

.wrapper-container .taps-container .taps .inner-tap{
color: #FFFFFF;
display: grid;
gap: 1rem;
}
.wrapper-container .taps-container .taps .inner-tap:first-child{
    
    border: 1px solid #4a7bee;
    padding: 1rem;
    border-radius: 10px 0 0 10px;
    background-color: #4a7bee;
}

.taps-container .taps .inner-tap h3 {
font-family: var(--secondary-font);
font-size: 1.25rem;
font-weight: 500;
}

.taps-container .taps .inner-tap p{
    font-family: var(--primary-font);
    font-size: .8rem;
    font-weight: 300;
    line-height: 2.1;
}

