:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend", sans-serif;
  --primary-color: #1c64f2;
  --secondary-color: #111928;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

.container {
  max-width: 1680px;
  height: 100%;
  margin: 0 auto;
}

main {
  background-color: #ffffff;
}

.header-container {
  margin-top: 2.4rem;
  height: 2.58rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.inner-header-container,
.text-logo-header {
  display: flex;
  align-items: center;
}

.text-logo-header {
  text-transform: capitalize;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.text-logo-header h1 {
  font-size: 1.2rem;
}

.text-logo-header span {
  color: #2563eb;
}

.nav-header {
  margin-left: 4rem;
  padding-top: 0.68rem;
  padding-bottom: 0.81rem;
}

.nav-header .nav-link {
  display: flex;
}

.nav-header .nav-link li {
  list-style: none;
}

.nav-header .nav-link li a {
  text-decoration: none;
  color: #4b5563;
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 2.375rem;
  text-transform: capitalize;
}
.nav-header .nav-link li:first-child a {
  margin: 0;
}

.button-header .btn-1 {
  background-color: transparent;
  border: none;
  color: #4b5563;
  font-size: 14px;
  font-weight: 400;
}

.button-header .btn-2 {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  padding: 0.75rem 0.875rem;
  margin-left: 0.62rem;
}
